.jogos_container{
    display:flex;
    padding:0  1rem  0 1rem;

    justify-content: space-around;

}


.jogo_container{
    width: 15%;
    border: 1px solid black;
    padding: 1rem 1rem; 
    background: rgb(115, 174, 230);
}
    .jogo_descricao{
        color: white;
        font-size: 18px;
    }